.section_about{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    height: 100%;
}
.section_about_information{
    width: 100%;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     gap: 20px;
     padding: 5px 5%;
}
.section_about_information_img{
    width: 35%;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.459);
    // max-height: 100%;
    img{
        width: 100%;
    }
}
.section_about_information_text{
    width: 45%;
}
.section_about_information_our_address{
    background-color: #f8f8f8ce;
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    .section_about_information_our_address_map{
        width: 45%;
    }
    .section_about_information_our_address_contact{
        width: 45%;
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            li{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 4px;
                width: 100%;
                border-bottom:1px solid #616467 ;
                padding: 10px 5px 2px;
                h5{
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}
.section_about_information_message{
    width: 100%;
    // background-color: red;
    padding: 10px 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    form{
        width: 40%;
        background-color: #616467;
        padding: 10px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        input{
            outline: none;
            border: none;
            border-bottom: 2px solid white;
            color: white;
            background-color: transparent;
            width: 100%;
            &::placeholder {
                color: rgba(255, 255, 255, 0.752);
              }
              
            
        }
        input[type=submit]{
            border: 2px solid white;

        }
        textarea{
            outline: none;
            width: 100%;
            border: none;
            border:1px solid white;
            color: white;
            background-color: transparent;  
            padding: 2px;
            &::placeholder {
                color: rgba(255, 255, 255, 0.752);
              }

        }
    }
   

}
@media (max-width:768px) {

    .section_about_information{
        flex-direction: column;
    }
    .section_about_information_img{
        width: 90%;
    }
    .section_about_information_text{
        width: 100%;
    }
    .section_about_information_message{
        form{
            width: 80%;
        }
    }
    .section_about_information_our_address{
        
        .section_about_information_our_address_map{
            width: 90%;
        }
        .section_about_information_our_address_contact{
            width: 90%;
            
        }
    }
}
@media (max-width:568px) {

  
    .section_about_information_message{
        form{
            width: 90%;
        }
    }
}