.title_for_page{
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding:25px 5%;
  h4{
    color: #616467;
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
  }
}
