main{
  width: 100%;
  height: calc(100vh - 75px);
  overflow: hidden;
  overflow-y: scroll;
}
.my-container{
  display: block;
}
@media (max-width: 991px) {
  main{
    
    height: 100vh;
  }
  .my-container{
    display: flex;
  }
}
